<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dks.jec">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="Splash"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Login"></activity>

        <activity android:name=".Register"> </activity>

        <activity android:name=".Student"
            android:theme="@style/StudentTheme"
            android:label="Student Login"> </activity>

        <activity android:name=".Faculty"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:label="JEC"> </activity>

        <activity android:name=".Selection"
            android:theme="@style/Theme.AppCompat.DayNight"
            android:label="Select Branch, Year"> </activity>

        <activity android:name=".Attendance"></activity>

        <activity android:name=".RollSelect"
            android:theme="@style/Theme.AppCompat.DayNight"
            android:label="View Attendance"> </activity>

        <activity android:name=".RecordNormal"
            android:theme="@style/Theme.AppCompat.DayNight"
            android:label="Records"> </activity>

        <activity android:name=".HistoryActivity"
            android:theme="@style/Theme.AppCompat.DayNight"
            android:label="History">
        </activity>
        <activity android:name=".StudentWelcome"
            android:theme="@style/Theme.AppCompat.DayNight"
            android:label="Student">

        </activity>

        <receiver android:name=".ConnectionMonitor">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>